@import '@/styles/mixin.scss';

.navigation {
	display: flex;
	align-items: center;
	@include adaptiv-value('gap', 50, 20, 1);

	a {
		font-weight: 500;
		font-size: 16px;
		line-height: 159.02%;
		color: var(--color-textDark);
	}
}

@media screen and (max-width: 768px) {
	.navigation {
		display: none;
	}
}
