.stages {
	position: relative;

	&::after {
		content: '';

		position: absolute;
		right: -30%;
		bottom: 40%;
		z-index: -1;

		width: clamp(297px, calc(223px + 724 * ((100vw - 320px) / 1600)), 1021px);
		height: clamp(352px, calc(264px + 857 * ((100vw - 320px) / 1600)), 1209px);

		background: linear-gradient(
			126.91deg,
			rgba(54, 105, 249, 0.2) 27.11%,
			rgba(32, 118, 198, 0.2) 99.07%
		);

		filter: blur(90.5px);

		transform: rotate(-15deg);
	}

	&::before {
		content: '';

		position: absolute;
		left: -20%;
		top: 8%;
		z-index: -1;

		width: clamp(223px, calc(223px + 427 * ((100vw - 320px) / 1600)), 650px);
		height: clamp(264px, calc(264px + 506 * ((100vw - 320px) / 1600)), 770px);

		background: linear-gradient(
			8.4deg,
			rgba(54, 105, 249, 0.2) 21.98%,
			rgba(32, 118, 198, 0.2) 88.39%
		);

		filter: blur(90.5px);

		transform: rotate(-150deg);
	}
}

.title {
	font-family: var(--font-unbounded);
	font-size: clamp(20px, calc(20px + 20 * ((100vw - 320px) / 1600)), 40px);
	line-height: 147.19%;
	color: var(--color-textDark);

	margin-bottom: clamp(15px, calc(15px + 15 * ((100vw - 320px) / 1600)), 30px);
}

.items {
	display: flex;
	flex-direction: column;
	gap: clamp(30px, calc(30px + 150 * ((100vw - 320px) / 1600)), 180px);
}

.wrapperImage1 {
	overflow: hidden;

	border-radius: clamp(10px, calc(10px + 20 * ((100vw - 320px) / 1600)), 30px);
}

.image1 {
	width: 100%;
	height: auto;
	object-fit: cover;

	min-height: 180px;
}

.wrapperImage2 {
	overflow: hidden;

	border-radius: clamp(10px, calc(10px + 5 * ((100vw - 320px) / 1600)), 15px);
}

.wrapperImages3 {
	display: grid;
	grid-template-columns: 1fr;
	gap: clamp(15px, calc(15px + 15 * ((100vw - 320px) / 1600)), 30px);
}

.wrapperImages4 {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr;
	gap: clamp(15px, calc(15px + 45 * ((100vw - 320px) / 1600)), 60px)
		clamp(12px, calc(12px + 18 * ((100vw - 320px) / 1600)), 30px);
	grid-auto-flow: row;
	grid-template-areas:
		'a a s d'
		'f f f f';
}

.a {
	height: max-content;

	grid-area: a;
}

.s {
	height: max-content;

	margin-top: clamp(0px, calc(0px + 97 * ((100vw - 320px) / 1600)), 97px);

	grid-area: s;
}

.d {
	height: max-content;

	margin-top: clamp(0px, calc(0px + 97 * ((100vw - 320px) / 1600)), 97px);

	grid-area: d;
}

.f {
	height: max-content;

	grid-area: f;
}

.wrapperImages5 {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr;
	gap: clamp(20px, calc(20px + 10 * ((100vw - 320px) / 1600)), 30px);
}

.wrapperImages6 {
	display: grid;
	grid-template-columns: 1fr 1fr;
	gap: clamp(20px, calc(20px + 10 * ((100vw - 320px) / 1600)), 30px);
}

.wrapperImages6Description {
	font-weight: 500;
	font-size: clamp(12px, calc(12px + 4 * ((100vw - 320px) / 1600)), 16px);
	line-height: 159.02%;
	color: var(--color-textDark);
}

.wrapperItem {
	display: flex;
	flex-direction: column;
	gap: clamp(15px, calc(15px + 17 * ((100vw - 320px) / 1600)), 32px);

	ul {
		max-width: 353px;

		display: flex;
		flex-direction: column;
		gap: 5px;

		padding: 5px 0;

		li {
			position: relative;

			padding-left: 20px;

			&::before {
				content: '';

				position: absolute;
				left: 5px;
				top: 60%;

				transform: translateY(-50%);

				width: 5px;
				height: 5px;

				border-radius: 100%;

				background-color: var(--color-bgDark);
			}
		}
	}
}

.wrapperTitle {
	display: flex;
	align-items: baseline;
	justify-content: space-between;
	flex-wrap: wrap;
	gap: 15px;

	margin-bottom: clamp(15px, calc(15px + 15 * ((100vw - 320px) / 1600)), 30px);
}

.description {
	max-width: 453px;

	font-weight: 500;
	font-size: clamp(12px, calc(12px + 4 * ((100vw - 320px) / 1600)), 16px);
	line-height: 159.02%;
	color: var(--color-textDark);
}

.wrapperImages7 {
	position: relative;
}

.btn {
	position: absolute;
	right: 0;

	bottom: 0;
	z-index: 2;

	width: 300px;
	height: 300px;

	display: flex;
	align-items: center;
	justify-content: center;

	background-color: var(--color-blue);

	border-radius: 100%;

	font-weight: 500;
	font-size: clamp(8px, calc(8px + 8 * ((100vw - 320px) / 1600)), 16px);
	line-height: 159.02%;
	color: var(--color-textLight);

	&::before {
		content: '';

		position: absolute;
		left: 50%;
		top: 50%;
		transform: translate(-50%, -50%);

		width: 90%;
		height: 90%;

		border: 1px solid var(--color-bgLight);
		border-radius: 100%;
	}
}

@media screen and (max-width: 991px) {
	.wrapperImages4 {
		display: grid;
		grid-template-columns: 1fr 1fr;
		grid-auto-flow: row;
		grid-template-areas:
			'a a'
			's d'
			'f f';
	}
}

@media screen and (max-width: 768px) {
	.wrapperImages3 {
		display: flex;
		flex-direction: column;
	}

	.wrapperImages5 {
		display: grid;
		grid-template-columns: 1fr 1fr;
	}
}
