@import '@/styles/mixin.scss';

.layout {
	min-height: 100vh;

	display: flex;
	flex-direction: column;
}

.main {
	flex: 1;
	display: flex;
	flex-direction: column;
	gap: clamp(50px, calc(50px + 30 * ((100vw - 320px) / 1600)), 80px);

	@include adaptiv-value('padding-top', 175, 90, 1);
	@include adaptiv-value('padding-bottom', 160, 50, 1);
}

@media screen and (max-width: 768px) {
	.layout {
		overflow-x: hidden;
	}
}
